.hotel-info
  display: flex
  justify-content: space-between
  align-items: center
  &__wrapper
    display: flex
    flex-wrap: wrap
    align-items: center
  &__stars
    margin-bottom: 3px
  &__title
    margin: 0
    margin-right: 14px
  &__offer
  &__description
    font-weight: 400
    font-size: 12px
    line-height: 15px
    margin: 5px 0
.offer
  background-color: #EC1F46
  color: $color-white
  border-radius: 3px
  padding: 3px 9px
  font-weight: 600
  font-size: 10px
  line-height: 13px
.stars
  flex-basis: 100%

.title
  font-weight: 700
  font-size: 24px
  line-height: 30px
.rating
  max-width: 65px
  min-height: 45px
  background-color: #EC1F46
  border-radius: 4px
  color: $color-white
  text-align: center
  &__text
    font-weight: 600
    font-size: 8px
    line-height: 10px
  &__counter
    font-weight: 700
    font-size: 14px
    line-height: 18px
  